* {
    box-sizing: border-box;
    
  }
  
  html {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 62.5%; /* equivalente a 10px */
      

  }
  
  body {
      background-color: #fff);
  }
  
  h1 {
      font-size: 2rem;
  }
  
  h2 {
      font-size: 1.6rem;
      color: rgb(255, 255, 255);
  }
  p {
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(6 26 34);
      width: 98%;
  }
  h3 {
    font: italic bold 3rem/2 sans-serif;
    color: #ededed;
    background-color: #309ecd87;
    width: 100%;
    padding: 0 20px;
    
  } 
    h4 {
   font: 2rem/2 sans-serif;
   text-align: center;
   float: none;
}

header, footer {

  background-color: #b1b1b194;
  padding: 55px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header h2 {
  font-size: 4rem;
}

footer {
  padding: 10px;
  text-align: center;
  color: white;
}
   
  
  
  a {
      color: #336;
      text-decoration: none;
  }
  a:hover {
	color: #009;

}
a:visited {
	color: #f00;
}

a:active {
	color: #096;
}


.navegacao li a {
    color: white;
    font-size: 1.4rem;
}

.navegacao li a:hover {
	background-color: rgba(150, 150, 200, .5);
	color: #333333;
}

  ul {
      font-size: 20px;
  }
  
  ul li {
      font-size: 0.8em; /* equivalente a 16px */
      font-size: 1.6rem; /* equivalente a 16px */
      width: 80%;
      height: 3rem; /* equivalente a 30px */
  }
  
  p {
    font-size: 2rem;
    padding: 24px;
  }
  
  
  
  h2 {
      font-size: 2rem; /* equivalente a 20px */
      height: 2rem;
  }
  

  
  .navegacao li {
      display: block;
      padding: 1rem 1rem 2rem 1rem;
      line-height: 0.2rem;
  }
  
  .navegacao a {
      color: #66F;
      display: block;
      margin-bottom: .5rem;
      width: 100%;
  }
  


  
#filtro-foto{
background-color: brown;
width: 100px;
height: 100px;
overflow: hidden;
border-radius: 50%;
float: right;

}
 
#filtro-foto {    
    width: 30%;
    height: auto;
    filter: blur(5px);

}
#filtro-foto:hover {
  filter: blur(0px);
}

nav {
    float: left;
    width: 20%;
    padding: 0px;
    background: #309ecd87;
    border-radius: 10%;
    
  }
  
  nav ul {
    list-style-type: none;
    padding: 11px;
    border: 10px;
    margin: 10px;
 
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
 


  body {
    background: url('../images/fundo2.png') center top repeat #EEEEEE;
    
    background-repeat: no-repeat;
  }

  footer > p {
    font-size: 1.4rem;
    color: #fff;
    padding: 4px;
    text-align: center;
  }

.fixed-vw {
  font-size: max(2rem, 3vw);
}
iframe{
  width: 100%;
  height: 140px;
}

.imagem-insta {
  width: 80px;
  height: 28px;
  margin-left: 5%;
  padding: -5px;
}
.imagem-lkn {
  width: 70px;
  height: 72px;
  margin-top: -9%;
  padding: 9px;
  margin-left: 18px;
  
}
@media (max-width: 800px) {
  
  nav {
      width: 30vw;
  }
  
  article {
      width: 70vw;
  }
  td > p, h4 {
    color: #eee;
    background-color: #309ecd87;
  }
}
 
@media (max-width: 540px) {
  
  nav {
      width: 30vw;
  }
  
  article {
      width: 70vw;
  }
  td > p, h4 {
    color: #eee;
    background-color: #309ecd87;
  }
}






@media (max-width: 425px) {
  
  nav, article {
    width: 100%;
    min-width: 320px;
    
  }

  td > p, h4 {
    color: #eee;
    background-color: #309ecd87;
  }
  
  body {
    background-size: auto auto;
    
  }
    

}

